*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    text-decoration: none;
    outline: none;
}

body{
    background-color: #c4dcf9;
}

section,footer{
    padding: 54px 0;
}

h3{
    font-size: 50px;
}

p{
    color: #0000009c;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
    background-color: #4f9cf9;
}

.botao_contato{
    background-color: #ff6f00;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.botao_contato:hover{
    background-color: #2466b6;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
}

nav ul a:not(.btn)::after{
    content: '';
    background-color: #f58a38;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}

/*Pafina Sobre*/

.contato section{
    background-color: #c4dcf9;
}

.contato-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #c4dcf9;
}

.contato-info .left-side{
    width: 50%;
    padding: 30px;
    background-color: #f58a38;
    border-radius: 14px;
    margin-right: 50px;
    height: fit-content;
}

.contato-info .left-side div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 24px;
    margin-right:20px ;
    color: white;
}

.contato-info .left-side p{
    font-size: 18px;
    color: white;
}

.contato-info .right-side{
    width: 50%;
}

.contato-info .right-side input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid #f1f1f1;
    color: #212121;
    font-weight: lighter;
}

.contato-info .right-side input:focus,
.contato-info .right-side textarea:focus{
    border-color: #011f44;
}

.contato-info .right-side textarea{
    border: 1px solid #f1f1f1;
    color: #212121;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}

.contato-info .right-side button{
    border: none;
}

.feedback {
    position: fixed;
    top: 50px;
    left: 0;
}

.feedback p {
    color: #fff;
    font-size: 21px;
    font-weight: 600;
}

.sucesso {
    background-color: #40ca70;
    padding: 23px 0 0 2px;
    width: 28vw;
}

.sucesso::after {
    content: '';
    background-color: #00ff59;
    animation: animate-width 3s ease-out;
    display: block;
    height: 8px;
    margin-top: 5px;
    padding: 0;
}

.erro {
    background-color: #c23c32;
    padding: 23px 0 0 2px;
    width: 28vw;
}

.erro::after {
    content: '';
    background-color: #f71000;
    animation: animate-width 3s ease-out;
    display: block;
    height: 8px;
    margin-top: 5px;
    padding: 0;
}

@keyframes animate-width {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    } 
}

.footer {
    background-color: #4f9cf9;
    text-align: center;
}

.footer p{
    margin-top: 10px;
    color: white;
    font-size: 22px;
}